<h1>Listing baskets</h1>

<% if @baskets.nil? then %>
No baskets are created (YET).
<% else %>
<table>
  <tr>
    <th>User ID</th>
    <th>Good ID</th>
    <th>Good</th>
    <th>Count</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @baskets.each do |basket| %>
  <tr>
    <td><%= basket.user_id %></td>
    <td><%= basket.good_id %></td>
    <td><%= basket.good.title %></td>
    <td><%= basket.count %></td>
    <td><%= basket.price %></td>
    <td><%= link_to 'Show', basket %></td>
    <td><%= link_to 'Edit', edit_basket_path(basket) %></td>
    <td><%= link_to 'Destroy', basket, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Basket', new_basket_path %>
