<h1>User's basket</h1>

<% if @baskets.nil? then %>
<h2>Baskets is empty.</h2>
<% else %>
<table>
  <tr>
    <th>Get item</th>
    <th>Delivery date</th>
    <th>Good</th>
    <th>Count</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%#= form_tag "#{user_path(current_user.user_id)}/send', :method => :post %>
<%= form_tag "#{user_path(current_user.id)}/prepare", :method => :post %>
<% @baskets.each do |basket| %>
  <tr>
    <td>
    <%#= check_box_tag "basket.good_id" if basket.send_completed.nil? %>
    <%# if basket.send_completed.nil? or (basket.send_completed == FALSE) -%>
    <%# if basket.send_completed == TRUE -%>
    <% if ["requested"].include? basket.delivery_status -%>
    <%= check_box_tag "goods[#{basket.id}][ready_to_deliver]" %>
    <% else %>
    <%= check_box_tag "goods[#{basket.id}][ready_to_deliver]", +1, false, :disabled => true %>
    <% end -%>
    </td>
    <td><%= basket.send_date %></td>
    <td><%= basket.good.title %></td>
    <td><%= basket.count %></td>
    <td><%= basket.price %></td>
    <td><%= link_to 'Edit', edit_basket_path(basket) if basket.send_completed.nil? %></td>
    <td><%= link_to 'Remove', basket, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= button_tag "Prepare user's request" %>
<% end %>

<br />
