<h1>Welcome</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h3>To start from:</h3>

<p>Link to <%= link_to 'Users page', users_path %></p>
<p>Link to <%= link_to 'Goods list', goods_path %></p>
<p>Link to <%= link_to 'Baskets', baskets_path %></p>
<p>Link to <%= link_to 'order', '/order' %></p>
<p>Link to <%= link_to 'order1', '/order1' %></p>
<p>Link to <%= link_to 'order2', '/order2' %></p>
<p>Link to <%= link_to 'order3', '/order3' %></p>
