<h1>Ordering goods</h1>

<table>
  <tr>
    <th>yes</th>
    <th>id</th>
    <th>Title</th>
    <th>Count</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%#= form_tag '/users', :method => :post %>
<%#= form_tag '/users', :method => :post %>
<%#= form_tag '/order3', :method => :post %>
<%#= form_tag '/baskets', :method => :post %>
<%= form_tag '/profile/basket', :method => :post %>
<%#= form_tag '/baskets', :method => :post %>
<% i = 0 %>
<% @goods.each do |good| %>
  <tr>
    <td><%#= check_box_tag "item_#{good.id}_order" %>
    <%= check_box_tag "goods[#{good.id}][ordered]", -1 %></td>
    <td><%= good.id %></td>
    <td><%= good.title %></td>
    <td>
    <%#= good.count %>
    <% i += 1 %>
    <%= number_field_tag "goods[#{good.id}][quantity]", 2*i-1, :min => 0, :max => good.count %>
    </td>
    <td><%= good.price %></td>
    <td><%= link_to 'Show', good %></td>
    <td><%= link_to 'Edit', edit_good_path(good) %></td>
    <td><%= link_to 'Destroy', good, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= button_tag "make order" %>

<br />

<%= link_to 'New Good', new_good_path %>
