<!DOCTYPE html>
<html>
<head>
  <title>Shop
  <%= @title unless @title.nil?%>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>

</head>
<body>
       <p class="notice"><%= notice %></p>
<%= render :partial => 'layouts/header' %>
       <p class="alert"><%= alert %></p>

<%= yield %>
<%#= debug(params) %>
<%#= debug(@debug) unless @debug.nil? %>

</body>
</html>
